/* Header */
.sticky {
  position: sticky;
  top: 0;
  background-color: white;
}

.nav {
  font-family: "Open Sans", serif;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-color: #ffffff95;
  padding: 5px 0;
}

.carousel-item h5 {
  font-family: "Open Sans", serif;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

a.nav-link {
  color: #000;
}

a.nav-link:hover {
  color: #ffffff;
  background-color: #035662;
  border-radius: 5px;
  
}
/* Header end */
/* Hero */
.hero {
  background-position: center;
  height: 100vh;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 13%;
  left: 0;
  z-index: -1;
}

.hero h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(52, 52, 52);
  margin-top: 50%;
}

.hero p {
  font-family: "Open Sans", serif;
  font-size: .9rem;
  font-weight: 300;
  color: rgb(59, 59, 59);
}

.hero button {
  font-family: "Open Sans", serif;
  font-size: .9rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hero .color{
  color: #fff;
  background-color: #035662;
}

.hero button:hover {
  background-color: #000;
  color: #fff;
}
/* Hero end */

/* Features */
h2 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 400;
  color: rgb(52, 52, 52);
  justify-content: center;
  text-align: start;
  letter-spacing: 5px;
}
.featurette img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}


.Features h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(52, 52, 52);
  justify-content: center;
  text-align: start;
  letter-spacing: 1px;
  margin-top: 20%;
  width: 80%;
}
.featurette p {
  font-family: "Open Sans", serif;
  font-size: .9rem;
  font-weight: 300;
  color: rgb(59, 59, 59);
  margin-top: 20px;
  width: 80%;
}

.f2 {
  background-color: #e4d8c4;

}
/* Features end */

/* offer */
.offer {
  background-color: #6697a5;
  width: 100%;
  height: 90vh;
}

.offer h2 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  justify-content: center;
  text-align: start;
  letter-spacing: 5px;
  width: 80%;
}
/* offer end */

/* Testimonial */
.carousel img {
  width: 70px;
  max-height: 70px;
  border-radius: 50%;
  margin-right: 1rem;
  overflow: hidden;
}
.carousel-inner {
  padding: 1em;
}

@media screen and (min-width: 576px) {
  .carousel-inner {
    display: flex;
    width: 90%;
    margin-inline: auto;
    padding: 1em 0;
    overflow: hidden;
  }
  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 2);
  }
}
@media screen and (min-width: 768px) {
  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 3);
  }
}
.carousel .card {
  margin: 0 0.5em;
  border: 0;
}

.carousel-control-prev,
.carousel-control-next {
  width: 3rem;
  height: 3rem;
  background-color: grey;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

/* Testimonial end */

/* footer */
footer h5 {
  font-family: "Open Sans", serif;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(59, 59, 59);
  justify-content: center;
  text-align: start;
  letter-spacing: 1px;
  margin-top: 20px;
  width: 80%;
}

footer li {
  font-family: "Open Sans", serif;
  font-size: .8rem;
  font-weight: 300;
  color: rgb(59, 59, 59);
  justify-content: center;
  text-align: start;
  letter-spacing: 1px;
  width: 80%;
  text-transform: capitalize;
}

footer p {
  font-family: "Open Sans", serif;
  font-size: .8rem;
  font-weight: 300;
  color: rgb(59, 59, 59);
  justify-content: center;
  text-align: start;
  letter-spacing: 1px;
  width: 80%;
}

footer .color {
  color: white;
  background-color: #035662;
}

footer .color:hover {
  background-color: #000;
  color: #fff;
}
/* footer end */